* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Inter;
    src: url(../assets/fonts/Inter-VariableFont_opsz\,wght.ttf);
    font-weight: 400 600;
}

body {
    min-width: 375px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: var(--primary-font-color);
    background-color: var(--primary-background-color);
}

a {
    text-decoration: none;
    color: var(--primary-font-color);
}

a:hover {
    color: var(--logo-mustard);
}

button {
    cursor: pointer;
}

.primary__button {
    border: none;
    padding: var(--spacing-small) var(--spacing-medium);
    border-radius: var(--border-radius);
    background-color: var(--logo-green);
    color: var(--secondary-font-color);
}

.primary__button:hover {
    background-color: var(--green-hover);
    color: var(--secondary-font-color);
}

.primary__button:active {
    background-color: var(--green-press);
    color: var(--secondary-font-color);
}

.secondary__button {
    border: none;
    padding: var(--spacing-small) var(--spacing-medium);
    border-radius: var(--border-radius);
    background-color: var(--secondary-font-color);
    color: var(--primary-font-color);
}

.secondary__button:hover {
    background-color: var(--light-hover);
    color: var(--primary-font-color);
}

.secondary__button:active {
    background-color: var(--light-press);
    color: var(--primary-font-color);
}

svg:hover {
    cursor: pointer;
}

ul {
    list-style-type: none;
}