main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.store-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: var(--spacing-small);
}

.store__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: var(--spacing-large);
    border-radius: 0 0 var(--border-radius-small) var(--border-radius-small);
}

.store__card:hover {
    background-color: var(--light-hover);
}

.store__card img {
    width: 100%;
}

.card__content {
    padding: var(--spacing-small);
    line-height: var(--line-height);
    position: relative;
}

.card__content .secondary__button {
    position: absolute;
    right: var(--spacing-small);
    bottom: var(--spacing-small);
}

@media screen and (min-width: 480px) {
    .store-container {
        padding: var(--spacing-x-large);
    } 
}

/* tablet */
@media screen and (min-width: 768px) {
    .store-container {
        padding: calc(var(--spacing-xx-large)*2);
    }
}

/* desktop small */
@media screen and (min-width: 1024px) {
    .store-container {
        padding: var(--spacing-x-large);
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
        gap: var(--spacing-large);
    }

    .store__card {
        max-width: 450px;
    }
}