main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.search-sort-container {
    padding: var(--spacing-small);
}

.search {
    margin-bottom: var(--spacing-medium);
}

.search label {
    margin-right: var(--spacing-x-small);
}

.search__input {
    padding: var(--spacing-small) var(--spacing-medium);
    border: 1px solid var(--logo-green);
    border-radius: var(--border-radius);
    background-color: transparent;
    outline: none;
}

.search__input:focus-within {
    box-shadow: 0 0 2px var(--logo-green);
}

.sort-buttons {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: var(--spacing-medium);
}

.store-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: var(--spacing-small);
}

.store__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: var(--spacing-large);
    border-radius: 0 0 var(--border-radius-small) var(--border-radius-small);
}

.store__card:hover {
    background-color: var(--light-hover);
}

.store__card img {
    width: 100%;
}

.card__content {
    padding: var(--spacing-small);
    line-height: var(--line-height);
    position: relative;
}

.card__content .secondary__button {
    position: absolute;
    right: var(--spacing-small);
    bottom: var(--spacing-small);
}

.cart {
    width: 90%;
    height: fit-content;
    position: fixed;
    top: var(--spacing-x-large);
    left: var(--spacing-x-large);
    background-color: var(--primary-background-color);
    border: none;
    border-radius: var(--border-radius-small);
    padding: var(--spacing-x-large);
}

.cart__heading {
    text-align: center;
    margin-bottom: var(--spacing-x-large);
}

.cart__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-x-large);
}

.content-total {
    font-weight: 600;
}

.content__button-container {
    display: flex;
    gap: var(--spacing-x-large);
}

.content-list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium);
}

.list-item {
    height: 5rem;
    display: flex;
    gap: var(--spacing-medium);
}

.list-item__img {
    width: 4rem;
    height: auto;
}

@media screen and (min-width: 480px) { 
    .store-container {
        padding: var(--spacing-x-large);
    } 
}

/* tablet */
@media screen and (min-width: 768px) {
    .search-sort-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: var(--spacing-x-large);
    }
    
    .search {
        margin-bottom: 0;
    }

    .store-container {
        padding: calc(var(--spacing-xx-large)*2);
    }
}

/* desktop small */
@media screen and (min-width: 1024px) {
    .store-container {
        padding: var(--spacing-x-large);
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
        gap: var(--spacing-large);
    }

    .store__card {
        max-width: 450px;
    }
}